# Exclude Git metadata
.git
.gitignore

# Docker files
Dockerfile*
.dockerignore

# Python virtualenv and caches
.venv
__pycache__
*.py[cod]

# Node modules
node_modules

# Build artifacts
build
dist
coverage/

# Docs and specs (not needed in image)
specs
.docs

# Local config
.env
.env.*
*.log*
